/* Estilos gerais para o contador */
.countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;  /* Alterado de fixed para absolute */
    z-index: 1000;
    /* Remover o cursor: move; */
}

.button-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.countdown-container button {
    padding: 6px 12px;
    font-size: 0.9rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 80px;
}

.countdown-container button:hover {
    background-color: #45a049;
}

#countdownDisplay {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    margin: 0;
}

.exercise {
    color: red;
    font-weight: bold;
}

.rest {
    color: green;
    font-weight: bold;
}

.arrow-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.arrow-buttons button {
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.arrow-buttons button:hover {
    background-color: #1E88E5;
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 600px) {
    /* Ocultar tabela quando o treino é selecionado */
    #treino-tabela {
        display: none;
    }

    /* Quando o treino for selecionado, ocupa toda a tela */
    .selected {
        display: block;
        width: 100%;
        height: 100vh;
        overflow-y: auto; /* Permite o scroll caso o conteúdo exceda a tela */
        position: relative; /* Para o contador ser posicionado corretamente */
        padding-top: 80px; /* Espaço para o contador */
    }

    .selected div {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    /* Ajuste do contador para ficar sempre visível e fixo na tela */
    .countdown-container {
        position: fixed;
        top: 10px;
        left: 10px;
        max-width: none;
        width: auto;
        z-index: 2000; /* Garantir que o contador fique acima do conteúdo */
    }
}